@charset "utf-8";

h2.title{color:08C;line-height:26px;font-size:150%;}

/* 検索テーブル. */
.search_table{font-size:86%;border-top:2px solid #08C;border-bottom:2px solid #08C;}
.search_table th,.search_table td{padding:5px 10px;border-bottom:1px solid #fcc;}
.search_table th{background:#8fecff;width:100px;}
.search_table td{background:#FFF;width:150px;}
.search_table td:last-child{width:auto;}
.search_table td[colspan]{width:auto;}
.search_ctrl{margin-top:10px;}
.search_ctrl .btn {margin-right:5px;}


.result{margin-top:15px;}
/* 検索結果テーブル */
.result_table thead th{background:#f0ffff;font-size: 86%;text-align:center;}
.result_table a{text-decoration:underline;cursor: pointer;}
