@charset "utf-8";

h2.title{color:08C;line-height:26px;font-size:150%;font-weight:bold;text-shadow:1px 1px 1px #CCC;}

td{empty-cells: show;}

/* 必須項目 */
.required-input{background-color: #FFFCEE;}

/* 検索テーブル. */
.search_table{font-size:100%;border-top:2px solid #08C;border-bottom:2px solid #08C;}
.search_table th,.search_table td{padding:2px 2px;border-bottom:1px solid #08C;}
.search_table th{background:#8fecff;width:100px;}
.search_table td{background:#FFF;width:150px;}
.search_table td:last-child{width:auto;}
.search_table td[colspan]{width:auto;}
.search_ctrl{margin-top:10px;}
.search_ctrl .btn {margin-right:5px;}

/* 登録・更新テーブル. */
.edit_main_table{font-size:100%;border-top:2px solid #08C;border-bottom:2px solid #08C;}
.edit_main_table th,.edit_main_table td{padding:2px 2px;border-bottom:1px solid #08C;}
.edit_main_table th{background:#8fecff;width:100px;}
.edit_main_table td{background:#FFF;width:150px;}
.edit_main_table td:last-child{width:auto;}
.edit_main_table td[colspan]{width:auto;}
.edit_main_ctrl{margin-top:10px;}
.edit_main_ctrl .btn {margin-right:5px;}


.result{margin-top:15px;}
/* 検索結果テーブル */
.result_table {font-size: 100%; margin-top:5px}
.result_table thead th{background:#f0ffff;text-align:center;}
.result_table a{cursor: pointer;}


/* ダイアログテーブル(並べ替え・編集・フォロー) */
.edit_table {font-size:86%;border-top:2px solid #08C;border-bottom:2px solid #08C;width:100%;border-left:1px solid #08C;}
.edit_table th,
.edit_table td {border-bottom:1px solid #08C;border-right:1px solid #08C;padding:2px 2px}
.edit_table th {background:#8fecff;}
.edit_table td {background:#FFF;}
.edit_ctrl{margin-top:10px;margin-left:120px;}
.edit_ctrl .btn {margin-right:5px;}


/* ダイアログ. */
.dialog-widget{display:none;}
.dialog-container{margin:5px auto;padding:10px;background:#FFF;overflow:auto;}

.scroll_area{height: 320px;overflow: auto;}

/* 詳細ダイアログ. */
.dialog-detail dl dt{
	font-weight: bold;
	text-indent: 12px;
	margin-top: 1em;
	padding-bottom: 2px;
	border-bottom: 1px dotted #600;
	color: #600;
}
.dialog-detail dl dd{
	margin-top: 0.3em;
	margin-left: 2em;
	line-height: 150%;
}
.detail_ctrl{margin-top:10px;}
.detail_ctrl .btn {margin-right:5px;}
.detail_close{margin-top:10px;margin-left:2em;float: right;}

.comment_list_table th, 
.comment_list_table td{font-size:86%;}

hr {border: 0 none; height: 2px; color: #08C;background-color: #08C;}

/* 表示順変更用 */
.sort_to {float:left;}
.sort_action_area {
	float:left;
	margin-top: 50px;
	margin-left: 10px;
}

/* toast用 */
.toast{
	/* border properties */
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 2px solid #CCCCCC;
	/* Aesthetics */
	position: absolute; padding: 10px; color: #ffffff; background-color:rgba(0,0,0, 0.8); display:none;
}
